/*Root Styling */
:root {
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #09153F;
    --bg-secondary: #A9BBE2;
    --bg-third: #1C6BA2;
    --transition-speed: 600ms;
}
@font-face {
    font-family: Halo;
    src: url("/assets/Halo.ttf");
}
html {
   background: var(--bg-primary);
}

/*Styling for the body*/
body {
    background: url('/images//halo.jpg') center/cover no-repeat;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}


/*Styling for nav bar*/
.header {
    width: 100%;
    height: 75px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: var(--bg-third);
}
.nav-bar {
    display: flex;
    gap: 15px;
    padding: 1.5rem;
}
.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.links {
    padding: 0 15px;
    text-align: center;
    font-size: 20px;
    color: var(--bg-secondary);
    font-weight: 900;
    text-decoration: none;
}
.logo {
    margin: 15px;
    width: 50px;
    height: 50px;
}
.menu-icon {
    display: none;
}

/*Styling for the main*/
main {
    margin-left: 5rem;
    padding: 1rem;
    min-height: 100vh;
}
.containers {
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 5rem;
    width: 90%;
    height: 100%;
    border-radius: 30px;
}

#home {
    display: block;
    height: 30rem;
}
#section1 {
    float: left;
    width: fit-content;
    height: 100%;
}
#section2 {
    width: 75%;
    float: right;
}
#profile-image {
    width: 200px;
    height: 300px;
    border: solid 5px var(--bg-secondary);
    margin: 5rem 0;
}
.main-headings {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2ch;
    font-size: 3rem;
    text-align: center;
}
.main-text {
    color: #fff;
    text-wrap: wrap;
    text-align: center;
    line-height: 1.5;
    text-align: left;
}

.tech-display {
    display: flex;
    flex-wrap: wrap;
    columns: 3;
    gap: 3rem;
    padding: 0 10rem;
}
.type-text {
    margin: 0;
    margin-left: 3rem;
    color: var(--text-secondary);
    text-decoration: underline;
}
.list-item {
    height: 125px;
    box-sizing: border-box;
    flex: 0;
}
.list-img {
    width: 100px;
    height: 100px;
    margin: 0 20px;
    padding: 0;
}
.list-text {
    margin: 0;
    padding: 0;
    height: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--text-secondary);
    font-weight: 900;
    letter-spacing: 0.2ch;
}

/*Styling for the projects section*/
.project-item {
    display: flex;
    background: var(--bg-primary);
    border-radius: 30px;
    border: solid var(--text-secondary) 1px;
    padding: 1rem;
    gap: 30px;
    margin-bottom: 3rem;
}
.card-text {
    color: var(--text-secondary);
}
p {
    line-height: 1.5;
}
.project-img {
    width: 450px;
    height: 300px;
}
.button-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}
.project-btn {
    background: var(--bg-third);
    color: var(--text-secondary);
    width: 150px;
    height: auto;
    font-size: 20px;
    padding: 0.5rem;
    border: none;
    border-radius: 15px;
}
.project-btn:hover {
    background: var(--bg-secondary);
    color: black;
    transition: 0.5s;
    font-size: 22px;
}

.resource-links {
    color: var(--bg-secondary);
    font-size: 16px;
    font-weight: 800;
}

/*Styling for contact form*/
form {
    margin: auto;
    max-width: 30rem;
}

input, textarea {
    border-radius: 10px;
    padding: 0.5rem;
    display: block;
    width: 85%;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 20px;
}

#submit-btn {
    width: 90%;
    padding: 0.5rem;
    margin: auto;
    display: block;
}

/*Styling for the footer*/
footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: var(--bg-primary);
}
.footer-name {
    color: var(--text-secondary);
    font-size: 1.5rem;
    padding: 0 1rem;
    font-family: Halo;
}
.footer-container {
    display: flex;
    justify-content: space-between;
}
.nav-link {
    width: 50px;
    height: 50px;
    margin: auto;
    margin-right: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    color: var(--bg-third);
}
.icon-container {
    display: flex;
}

a[title]:hover::after {
    opacity: 1;
}

/*Styling for mobile*/
@media only screen and (max-width: 767px) {
    /*Styling for body*/
    body {
        background: var(--bg-primary);
    }
    main {
        margin: 0;
        padding: 0;
    }
    .containers {
        margin: auto;
        width: 90%;
        height: auto;
        margin-bottom: 3rem;
    }
    .main-headings {
        font-size: 22px;
        text-align: center;
        width: 100%;
    }

    #home {
        display: block;
    }
    #section2 {
        width: 100%;
        margin: auto;
        padding: 0;
        height: auto;
    }
    #section1 {
        display: none;
    }
    .main-text {
        font-size: 18px;
    }

    /*Styling for tech section*/
    .type-text {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .tech-display {
        padding: 0px 20px;
        display: block;
    }
    .list-item {
        height: auto;
        box-sizing: border-box;
        padding: 0;
    }
    .list-img {
        width: 50px;
        height: 50px;
        margin: auto;
    }
    .list-text {
        display: none;
    }

    /*Styling for tech section*/
    .project-item {
        display: block;
    }
    .project-img {
        width: 300px;
        height: 150px;
    }
    .button-group {
         display: block;
    }
    .project-btn {
        width: 100%;
        margin-bottom: 1rem;
    }

    /*Styling for header*/
    .header {
        height: 50px;
        margin-bottom: 1rem;
    }
    .logo {
        margin: 0;
    }
    .nav-list {
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        display: none;
    }
    .nav-list.show {
        display: flex;
    }
    .menu-icon {
        display: inline-block;
        cursor: pointer;
    }
    .menu-icon:hover {
        opacity: 0.7;
    }
    .links {
        padding: 10px;
        width: 100%;
        border-bottom: 1px solid #fff;
    }

    /*Styling for footer*/
    .footer-container {
        display: block;
        margin-top: 5rem;
    }
    .footer-name {
        font-size: 16px;
        text-align: center;
    }
    .icon-container {
        margin: auto;
    }
    .nav-link {
        margin: auto;
    }
}


/*Styling for tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/*Styling for laptop*/
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
}

/*Styling for desktop*/
@media only screen and (min-width: 1366px) {

}